# files
*.zip
.ipynb_checkpoints
*.spl
*.cls
*.synctex.gz
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.snm
*.nav

# folders
/runs/
/data/
/models/
/epftoolbox/
.vscode/
__pycache__/
/visualizations/